absl-py
anyio
argon2-cffi 
argon2-cffi-bindings 
asttokens 
astunparse
attrs 
autopep8
Babel 
backcall 
beautifulsoup4 
bleach 
brotlipy
cachetools
certifi 
cffi 
charset-normalizer 
click
contourpy
cryptography 
cycler
Cython
debugpy 
decorator 
defusedxml 
dill
entrypoints 
executing 
fastjsonschema 
filelock
Flask
Flask-Cors
flatbuffers
fonttools
gast
gensim
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
idna 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isodate
itsdangerous
jedi 
Jinja2 
joblib
json5 
jsonschema 
jupyter 
jupyter-console 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline 
mistune 
multiprocessing-on-dill
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk
notebook 
numpy
om @ git+https://github.com/guihcs/omatch.git
opt-einsum
Owlready2
packaging 
pandas
pandocfilters 
parso 
pexpect 
pickleshare 
Pillow
ply
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
py-stringmatching
pyasn1
pyasn1-modules
pycodestyle
pycparser 
pydantic
pyfuseki
Pygments 
pyOpenSSL 
pyparsing 
PyQt5-sip
pyrsistent 
PySocks 
python-dateutil 
pytz 
PyYAML
pyzmq 
qtconsole 
QtPy 
rdflib
regex
requests 
requests-oauthlib
rfc3986
rsa
scikit-learn
scipy
seaborn
Send2Trash 
sentence-transformers
sentencepiece
sip 
six 
sklearn
smart-open
sniffio
soupsieve 
SPARQLWrapper
stack-data 
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado 
testpath 
threadpoolctl
tokenizers
toml
torch
torchaudio
torchvision
tornado 
tqdm
traitlets 
transformers
typing_extensions
urllib3 
wcwidth 
webencodings
websocket-client 
Werkzeug
widgetsnbextension 
wrapt
